@charset "UTF-8";
/* ===================================================================
CSS information

 file name  : common.css
 author     : Ability Consultant
 style info : 基本・共通設定
=================================================================== */
#header, .wrp_rsrv, #footer, .wrp_acc .con_acc {
  max-width: 1160px;
  width: 95%;
  margin-left: 2.5%;
}
@media only screen and (max-width: 750px) {
  #header, .wrp_rsrv, #footer, .wrp_acc .con_acc {
    width: 90%;
    margin-left: 5%;
  }
}

#header:after, #header .box_menu:after {
  content: "";
  display: table;
  clear: both;
}

/* -----------------------------------------------------------
	基本設定、リンクカラーなど
----------------------------------------------------------- */
html {
  font-size: small;
  line-height: 1.5;
}

body {
  color: #c3b193;
  background: #000000;
  -webkit-text-size-adjust: none;
  font-size: 100%;
  letter-spacing: 0.1em;
}
.ie body {
  font-size: 98%;
}
@media only screen and (max-width: 750px) {
  body {
    font-size: 93%;
  }
}
body a {
  color: #c3b193;
  text-decoration: underline;
}
.mouse body a:hover, .touch body a.touchstart {
  text-decoration: none;
  color: #c3b193;
}
body img {
  max-width: 100%;
  -webkit-touch-callout: none;
}

body, pre, input, textarea, select {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
}

input, select, textarea {
  font-size: 100%;
}

html.ie8 .view_tab,
html.ie8 .view_tab_sp,
html.ie8 .view_sp {
  display: none !important;
}
html.ie8 #page {
  min-width: 1160px !important;
  margin: auto;
  font-size: 100% !important;
}

@media only screen and (min-width: 1161px) {
  body .view_tab-sp, body .view_tab {
    display: none !important;
  }
}
@media print {
  body .view_tab-sp, body .view_tab {
    display: none !important;
  }
}
.ie8 body .view_tab-sp, .ie8 body .view_tab {
  display: none !important;
}
@media only screen and (min-width: 751px) {
  body .view_sp {
    display: none !important;
  }
}
@media print {
  body .view_sp {
    display: none !important;
  }
}
.ie8 body .view_sp {
  display: none !important;
}
@media only screen and (max-width: 1160px) {
  body .view_pc {
    display: none !important;
  }
}
@media only screen and (max-width: 750px) {
  body .view_pc-tab, body .view_tab {
    display: none !important;
  }
}

.mouse .over {
  -moz-transition: opacity 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}
.mouse .over:hover, .touch .over.touchstart {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.touch .over {
  -webkit-tap-highlight-color: transparent;
}
.touch .over.touchend {
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

/* -----------------------------------------------------------
	#page
----------------------------------------------------------- */
@media only screen and (min-width: 751px) {
  #page {
    font-size: 100% !important;
  }
}
@media print {
  #page {
    font-size: 100% !important;
  }
}
.ie8 #page {
  font-size: 100% !important;
}

/* -----------------------------------------------------------
	#header
----------------------------------------------------------- */
#gnav {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  padding: 20px 0;
  overflow: hidden;
}
@media only screen and (max-width: 1500px) {
  #gnav {
    overflow: hidden;
    max-width: 1160px;
    width: 95%;
    margin-left: 2.5%;
  }
}
@media print {
  #gnav {
    overflow: hidden;
    max-width: 1160px;
    width: 95%;
    margin-left: 2.5%;
  }
}
.ie8 #gnav {
  overflow: hidden;
  max-width: 1160px;
  width: 95%;
  margin-left: 2.5%;
}
#gnav div {
  float: left;
}
@media only screen and (min-width: 1501px) {
  #gnav div {
    overflow: hidden;
    overflow: hidden;
    max-width: 1160px;
    width: 95%;
    margin-left: 2.5%;
  }
}
@media only screen and (min-width: 1501px) and (max-width: 750px) {
  #gnav div {
    display: block;
  }
}
@media only screen and (min-width: 1501px) {
  #gnav div > *:first-child {
    font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
    letter-spacing: 0.15em;
    font-weight: normal;
    color: #c3b193;
    width: 13.68421%;
    float: left;
    vertical-align: top;
  }
}
@media only screen and (min-width: 1501px) and (min-width: 751px) and (max-width: 1160px) {
  #gnav div > *:first-child {
    width: 15%;
  }
}
@media only screen and (min-width: 1501px) and (max-width: 750px) {
  #gnav div > *:first-child {
    display: block;
    width: 100%;
  }
}
@media only screen and (min-width: 1501px) {
  #gnav div > *:first-child + * {
    width: 86.31579%;
    float: left;
  }
}
@media only screen and (min-width: 1501px) and (min-width: 751px) and (max-width: 1160px) {
  #gnav div > *:first-child + * {
    width: 85%;
  }
}
@media only screen and (min-width: 1501px) and (max-width: 750px) {
  #gnav div > *:first-child + * {
    display: block;
    width: 100%;
  }
}

@media print {
  #gnav div {
    overflow: hidden;
    overflow: hidden;
    max-width: 1160px;
    width: 95%;
    margin-left: 2.5%;
  }
  #gnav div > *:first-child {
    font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
    letter-spacing: 0.15em;
    font-weight: normal;
    color: #c3b193;
    width: 13.68421%;
    float: left;
    vertical-align: top;
  }
  #gnav div > *:first-child + * {
    width: 86.31579%;
    float: left;
  }
}
.ie8 #gnav div {
  overflow: hidden;
  overflow: hidden;
  max-width: 1160px;
  width: 95%;
  margin-left: 2.5%;
}
@media only screen and (max-width: 750px) {
  .ie8 #gnav div {
    display: block;
  }
}
.ie8 #gnav div > *:first-child {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  font-weight: normal;
  color: #c3b193;
  width: 13.68421%;
  float: left;
  vertical-align: top;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  .ie8 #gnav div > *:first-child {
    width: 15%;
  }
}
@media only screen and (max-width: 750px) {
  .ie8 #gnav div > *:first-child {
    display: block;
    width: 100%;
  }
}
.ie8 #gnav div > *:first-child + * {
  width: 86.31579%;
  float: left;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  .ie8 #gnav div > *:first-child + * {
    width: 85%;
  }
}
@media only screen and (max-width: 750px) {
  .ie8 #gnav div > *:first-child + * {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 1500px) {
  #gnav div {
    width: 80%;
  }
}
@media print {
  #gnav div {
    width: 80%;
  }
}
.ie8 #gnav div {
  width: 80%;
}
#gnav div .logo {
  float: left;
  margin-right: 50px;
}
@media only screen and (min-width: 1501px) {
  #gnav div .logo {
    margin-right: 0;
  }
}
@media print {
  #gnav div .logo {
    margin-right: 0;
  }
}
.ie8 #gnav div .logo {
  margin-right: 0;
}
@media only screen and (max-width: 1500px) {
  #gnav div .logo {
    width: 10%;
    margin-right: 0;
  }
}
@media print {
  #gnav div .logo {
    width: 10%;
    margin-right: 0;
  }
}
.ie8 #gnav div .logo {
  width: 10%;
  margin-right: 0;
}
#gnav div .logo img {
  width: 15px;
}
#gnav div ul {
  overflow: hidden;
}
@media only screen and (min-width: 1501px) {
  #gnav div ul {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 100%;
    text-align: right;
    float: right;
  }
}
@media print {
  #gnav div ul {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 100%;
    text-align: right;
    float: right;
  }
}
.ie8 #gnav div ul {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 1500px) {
  #gnav div ul {
    width: 90%;
  }
}
@media print {
  #gnav div ul {
    width: 90%;
  }
}
.ie8 #gnav div ul {
  width: 90%;
}
@media only screen and (min-width: 1501px) {
  #gnav div ul li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5.5%;
  }
}
@media print {
  #gnav div ul li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5.5%;
  }
}
.ie8 #gnav div ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 5.5%;
}
@media only screen and (max-width: 1500px) {
  #gnav div ul li {
    float: left;
    margin-left: 5%;
  }
  #gnav div ul li:nth-child(5) {
    clear: both;
    margin-left: 0;
  }
  #gnav div ul li:nth-child(4n+1) {
    width: 115px;
  }
  #gnav div ul li:nth-child(4n+2) {
    width: 170px;
  }
  #gnav div ul li:nth-child(4n+3) {
    width: 125px;
  }
  #gnav div ul li:nth-child(4n+4) {
    width: 130px;
  }
  #gnav div ul li:nth-child(n+5) {
    margin-top: 1%;
  }
}
@media print {
  #gnav div ul li {
    float: left;
    margin-left: 5%;
  }
  #gnav div ul li:nth-child(5) {
    clear: both;
    margin-left: 0;
  }
  #gnav div ul li:nth-child(4n+1) {
    width: 115px;
  }
  #gnav div ul li:nth-child(4n+2) {
    width: 170px;
  }
  #gnav div ul li:nth-child(4n+3) {
    width: 125px;
  }
  #gnav div ul li:nth-child(4n+4) {
    width: 130px;
  }
  #gnav div ul li:nth-child(n+5) {
    margin-top: 1%;
  }
}
.ie8 #gnav div ul li {
  float: left;
  margin-left: 5%;
}
.ie8 #gnav div ul li:nth-child(5) {
  clear: both;
  margin-left: 0;
}
.ie8 #gnav div ul li:nth-child(4n+1) {
  width: 115px;
}
.ie8 #gnav div ul li:nth-child(4n+2) {
  width: 170px;
}
.ie8 #gnav div ul li:nth-child(4n+3) {
  width: 125px;
}
.ie8 #gnav div ul li:nth-child(4n+4) {
  width: 130px;
}
.ie8 #gnav div ul li:nth-child(n+5) {
  margin-top: 1%;
}
@media only screen and (max-width: 930px) {
  #gnav div ul li {
    margin-left: 5%;
    width: auto !important;
  }
  #gnav div ul li:nth-child(n+5) {
    margin-top: .5%;
  }
}
#gnav div ul li:first-child {
  margin-left: 0;
}
#gnav div ul li a {
  text-decoration: none;
}
#gnav .txt_tel {
  float: right;
}
@media only screen and (min-width: 1501px) {
  #gnav .txt_tel {
    margin-right: 2.5%;
  }
}
@media print {
  #gnav .txt_tel {
    margin-right: 2.5%;
  }
}
.ie8 #gnav .txt_tel {
  margin-right: 2.5%;
}
#gnav .txt_tel:before {
  content: url(../images/common/ic_tel.png);
  margin-right: 11px;
}
#gnav .txt_tel a, #gnav .txt_tel span {
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 1500px) {
  #gnav .txt_tel a, #gnav .txt_tel span {
    display: block;
  }
}
@media print {
  #gnav .txt_tel a, #gnav .txt_tel span {
    display: block;
  }
}
.ie8 #gnav .txt_tel a, .ie8 #gnav .txt_tel span {
  display: block;
}
@media only screen and (max-width: 750px) {
  #gnav .txt_tel {
    float: none;
    display: table-cell;
  }
}

#wrp_menu {
  width: 100%;
  height: 100%;
  display: none;
}
@media only screen and (min-width: 751px) {
  #wrp_menu {
    font-size: 100% !important;
  }
}
@media print {
  #wrp_menu {
    font-size: 100% !important;
  }
}
.ie8 #wrp_menu {
  font-size: 100% !important;
}
@media only screen and (max-width: 750px) {
  #wrp_menu {
    margin-top: 10%;
  }
}
#wrp_menu #con_menu {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 5%;
  margin-top: -158px;
}
@media only screen and (max-width: 1160px) {
  #wrp_menu #con_menu {
    width: 90%;
  }
}
@media only screen and (max-width: 750px) {
  #wrp_menu #con_menu {
    margin-top: 0;
    position: relative;
    left: auto;
  }
}
#wrp_menu #con_menu .box_menu {
  float: left;
  margin-left: 80px;
  overflow: hidden;
}
#wrp_menu #con_menu .box_menu:first-child {
  margin-left: 0;
}
@media only screen and (max-width: 750px) {
  #wrp_menu #con_menu .box_menu {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
#wrp_menu #con_menu .box_menu li {
  float: left;
  clear: both;
  margin-top: 40px;
  overflow: hidden;
  width: 100%;
}
#wrp_menu #con_menu .box_menu li:first-child {
  margin-top: 0;
}
@media only screen and (max-width: 750px) {
  #wrp_menu #con_menu .box_menu li {
    margin-top: 6% !important;
  }
}
#wrp_menu #con_menu .box_menu li a {
  display: table;
  overflow: hidden;
  width: 100%;
  text-decoration: none;
}
#wrp_menu #con_menu .box_menu li a .ic_menu {
  display: table-cell;
  margin-right: 30px;
  text-align: center;
  vertical-align: middle;
  width: 45px;
}
#wrp_menu #con_menu .box_menu li a .ic_menu.ic_roo img {
  width: 96.9697%;
}
#wrp_menu #con_menu .box_menu li a .ic_menu.ic_rest img {
  width: 63.63636%;
}
#wrp_menu #con_menu .box_menu li a .ic_menu.ic_faci img {
  width: 78.78788%;
}
#wrp_menu #con_menu .box_menu li a .ic_menu.ic_art img {
  width: 84.84848%;
}
#wrp_menu #con_menu .box_menu li a .ic_menu.ic_bran img {
  width: 87.87879%;
}
#wrp_menu #con_menu .box_menu li a .ic_menu.ic_gal img {
  width: 100%;
}
#wrp_menu #con_menu .box_menu li a .ic_menu.ic_sig img {
  width: 84.84848%;
}
#wrp_menu #con_menu .box_menu li a .ic_menu.ic_news img {
  width: 93.93939%;
}
#wrp_menu #con_menu .box_menu li a .ic_menu.ic_acc img {
  width: 57.57576%;
}
@media only screen and (max-width: 750px) {
  #wrp_menu #con_menu .box_menu li a .ic_menu {
    width: 10%;
  }
}
#wrp_menu #con_menu .box_menu li a .box_st {
  display: table-cell;
  line-height: 1.3;
  padding-left: 2em;
  vertical-align: middle;
}
@media only screen and (max-width: 750px) {
  #wrp_menu #con_menu .box_menu li a .box_st {
    padding-left: 1em;
  }
}
#wrp_menu #con_menu .box_menu li a .box_st .en {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  font-size: 124%;
  color: #c3b193;
}
@media only screen and (max-width: 750px) {
  #wrp_menu #con_menu .box_menu li a .box_st .en {
    font-size: 108%;
  }
}
#wrp_menu #con_menu .box_menu li a .box_st .jp {
  color: #fff;
  font-size: 93%;
}
@media only screen and (max-width: 750px) {
  #wrp_menu #con_menu .box_menu li a .box_st .jp {
    font-size: 70%;
  }
}
#wrp_menu .box_snav {
  position: absolute;
  bottom: 1em;
  left: 5%;
}
@media only screen and (max-width: 750px) {
  #wrp_menu .box_snav {
    position: relative;
    left: 0;
    bottom: 0;
    width: 90%;
    margin: 10% auto 2%;
  }
}

/* -----------------------------------------------------------
	#header
----------------------------------------------------------- */
#header {
  top: 38px;
  position: absolute;
  z-index: 1;
  max-width: none;
}
@media only screen and (max-width: 750px) {
  #header {
    top: 1.5em;
  }
}
@media only screen and (min-width: 751px) {
  #header {
    font-size: 100% !important;
  }
}
@media print {
  #header {
    font-size: 100% !important;
  }
}
.ie8 #header {
  font-size: 100% !important;
}
@media only screen and (max-width: 750px) {
  .menu_open #header {
    position: relative;
    margin: 0 auto;
    left: auto;
    top: auto;
    margin-top: 1.5em;
  }
}
#header h1 {
  float: left;
  width: 120px;
}
#header h1 a {
  display: block;
}
#header h1 a img {
  width: 100%;
}
@media only screen and (max-width: 750px) {
  #header h1 {
    width: 7%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
#header .box_name {
  display: none;
  float: left;
  margin-left: 50px;
}
#header .box_name .txt_name, #header .box_name .txt_copy {
  margin-top: 0 !important;
}
.menu_open #header .box_name {
  display: block;
}
#header .box_menu {
  font-size: 93%;
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  float: right;
}
@media only screen and (max-width: 750px) {
  #header .box_menu {
    display: table;
    text-align: right;
  }
}
#header .box_menu .txt_tel {
  float: left;
  vertical-align: middle;
  padding-left: 20px;
  position: relative;
}
@media only screen and (max-width: 750px) {
  #header .box_menu .txt_tel {
    padding-left: 0;
  }
}
#header .box_menu .txt_tel img {
  width: 12px;
  margin-right: 8px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}
@media only screen and (max-width: 750px) {
  #header .box_menu .txt_tel img {
    padding-top: 2px;
    width: 18px;
    margin-top: -9px;
    top: 0;
    margin-top: 0;
    position: relative;
  }
}
@media only screen and (max-width: 500px) {
  #header .box_menu .txt_tel img {
    padding-top: 0;
    width: 13px;
  }
}
#header .box_menu .txt_tel a, #header .box_menu .txt_tel span {
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 750px) {
  #header .box_menu .txt_tel a, #header .box_menu .txt_tel span {
    display: block;
  }
}
@media only screen and (max-width: 750px) {
  #header .box_menu .txt_tel {
    float: none;
    display: table-cell;
  }
}
#header .box_menu #box_lang {
  float: left;
  margin-left: 30px;
  position: relative;
}
@media only screen and (max-width: 750px) {
  #header .box_menu #box_lang {
    float: none !important;
    display: table-cell;
    padding: 0 .5em 0 1em;
  }
}
#header .box_menu #box_lang p {
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  #header .box_menu #box_lang p {
    line-height: 1;
  }
}
#header .box_menu #box_lang p span {
  padding-left: 16px;
}
@media only screen and (max-width: 750px) {
  #header .box_menu #box_lang p span {
    padding-left: 24px;
  }
}
@media only screen and (max-width: 500px) {
  #header .box_menu #box_lang p span {
    padding-left: 16px;
  }
}
#header .box_menu #box_lang p span:before {
  -moz-transition: rotate 200ms ease-in;
  -o-transition: rotate 200ms ease-in;
  -webkit-transition: rotate 200ms ease-in;
  transition: rotate 200ms ease-in;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  transform: rotate(0deg);
  position: absolute;
  content: "";
  margin-right: .5em;
  width: 10px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  left: 0;
  background: url(../images/header/ic_lang_arr.png) no-repeat center top;
  background-size: 100% auto;
}
@media only screen and (max-width: 750px) {
  #header .box_menu #box_lang p span:before {
    width: 15px;
    height: 15px;
    margin-top: -7.5px;
  }
}
@media only screen and (max-width: 500px) {
  #header .box_menu #box_lang p span:before {
    width: 10.5px;
    height: 10.5px;
    margin-top: -5.25px;
  }
}
#header .box_menu #box_lang p.active span:before {
  transform: rotate(-90deg);
}
#header .box_menu #box_lang ul {
  margin-top: 10px;
  width: 100%;
}
@media only screen and (max-width: 750px) {
  #header .box_menu #box_lang ul {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 1em;
    margin-top: 0;
    line-height: 1;
    right: 0.5em;
  }
}
#header .box_menu #box_lang ul li {
  display: none;
  width: 100%;
}
#header .box_menu #box_lang ul li a {
  padding-left: 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
.mouse #header .box_menu #box_lang ul li a:hover, .touch #header .box_menu #box_lang ul li a.touchstart {
  color: #fff;
}
.touch #header .box_menu #box_lang ul li a {
  -webkit-tap-highlight-color: transparent;
}
.touch #header .box_menu #box_lang ul li a.touchend {
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
@media only screen and (max-width: 750px) {
  #header .box_menu #box_lang ul li:first-child {
    display: block !important;
  }
}
#header .box_menu #box_lang ul li:first-child a {
  color: #fff !important;
}
#header .box_menu .btn_menu {
  float: left;
  margin-left: 30px;
  position: relative;
  cursor: pointer;
}
#header .box_menu .btn_menu:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: .5em;
  content: "";
  background: url(../images/header/ic_menu.svg) no-repeat center top;
  background-size: contain;
  width: 11px;
  height: 11px;
}
.menu_open #header .box_menu .btn_menu:before {
  background-image: url(../images/header/ic_clo.svg);
}
@media only screen and (max-width: 750px) {
  #header .box_menu .btn_menu {
    float: none;
    display: table-cell;
    width: 10%;
    background: url(../images/header/ic_menu.svg) no-repeat right center;
    background-size: auto 70%;
  }
  .menu_open #header .box_menu .btn_menu {
    background-image: url(../images/header/ic_clo.svg);
  }
  #header .box_menu .btn_menu:before {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  #header .box_menu .txt_tel {
    line-height: 1.2;
    vertical-align: top;
    text-align: right;
  }
  #header .box_menu .txt_tel a {
    display: block;
  }
}

/* -----------------------------------------------------------
	#contents
----------------------------------------------------------- */
.box_name .txt_name {
  margin-top: 35px;
}
@media only screen and (max-width: 500px) {
  .box_name .txt_name {
    margin-top: 1em;
  }
}
.box_name .txt_copy {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  color: #fff;
  margin-top: 5px;
}
@media only screen and (max-width: 500px) {
  .box_name .txt_copy {
    margin-top: 0;
  }
}

/* 　#main_slider メインスライダー
----------------------------------------------------------- */
#wrp_mainslider .slick-slider {
  opacity: 0;
}

.slick-slider {
  margin-bottom: 0 !important;
}
.slick-slider .slick-slide {
  z-index: 0;
  background-position: center center;
  background-repeat: no-repeat !important;
}
.slick-slider .slick-slide img {
  width: 100%;
}
.slick-slider.normal .slick-slide {
  background-size: cover;
}
.slick-slider.wide .slick-slide {
  background-size: cover;
}
.slick-slider .slick-dots {
  left: 2.5%;
  bottom: 2.5%;
  text-align: left;
  z-index: 1;
  width: auto;
  left: 2.5%;
}
@media only screen and (max-width: 750px) {
  .slick-slider .slick-dots {
    left: 5%;
  }
}
.slick-slider .slick-dots li {
  width: 15px;
  height: 0;
  padding-top: 15px;
  margin-left: 17px;
  margin-right: 0;
  opacity: 0.7;
}
.slick-slider .slick-dots li:first-child {
  margin-left: 0;
}
.slick-slider .slick-dots li button {
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.slick-slider .slick-dots li button:before {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #796857;
  opacity: 1 !important;
}
@media only screen and (max-width: 750px) {
  .slick-slider .slick-dots li {
    width: 11.25px;
    padding-top: 11.25px;
    margin-left: 12.75px;
  }
  .slick-slider .slick-dots li button:before {
    -moz-border-radius: 11.25px;
    -webkit-border-radius: 11.25px;
    border-radius: 11.25px;
    width: 11.25px;
    height: 11.25px;
  }
}
.slick-slider .slick-dots li.slick-active {
  opacity: 1;
}
.slick-slider .slick-dots li.slick-active button:before {
  background-color: #ffffff;
}

/* 　.wrp_rsrv 予約周り
----------------------------------------------------------- */
.wrp_rsrv {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
  clear: both;
  color: #fff;
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv {
    display: block;
  }
}
.wrp_rsrv > *:first-child {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  font-weight: normal;
  color: #c3b193;
  width: 13.68421%;
  float: left;
  vertical-align: top;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  .wrp_rsrv > *:first-child {
    width: 15%;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv > *:first-child {
    display: block;
    width: 100%;
  }
}
.wrp_rsrv > *:first-child + * {
  width: 86.31579%;
  float: left;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  .wrp_rsrv > *:first-child + * {
    width: 85%;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv > *:first-child + * {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv {
    margin-bottom: 10%;
  }
}
.wrp_rsrv h2 {
  color: #c3b193;
}
.wrp_rsrv .con_rsrv {
  position: relative;
}
.wrp_rsrv .con_rsrv .box_int {
  overflow: hidden;
}
.wrp_rsrv .con_rsrv .box_int .txt_br {
  float: left;
  color: #c3b193;
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv .con_rsrv .box_int .txt_br {
    float: none;
    color: #fff;
  }
}
.wrp_rsrv .con_rsrv .obj_search {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #8f826c;
  overflow: hidden;
  display: table;
  width: 100%;
  margin-top: 5px;
}
.wrp_rsrv .con_rsrv .obj_search .wrp_form {
  display: table-cell;
  padding: 20px;
  overflow: hidden;
  border-right: 1px solid #8f826c;
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv .con_rsrv .obj_search .wrp_form {
    display: block;
    border: none;
    padding: 5%;
  }
}
.wrp_rsrv .con_rsrv .obj_search .wrp_form .st_form {
  color: #c3b193;
  float: left;
  width: 90px;
  text-align: center;
}
@media only screen and (min-width: 751px) {
  .firefox .wrp_rsrv .con_rsrv .obj_search .wrp_form .st_form {
    padding-top: .5em;
  }
}
@media print {
  .firefox .wrp_rsrv .con_rsrv .obj_search .wrp_form .st_form {
    padding-top: .5em;
  }
}
.ie8 .firefox .wrp_rsrv .con_rsrv .obj_search .wrp_form .st_form {
  padding-top: .5em;
}
@media only screen and (max-width: 1160px) {
  .wrp_rsrv .con_rsrv .obj_search .wrp_form .st_form {
    text-align: left;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv .con_rsrv .obj_search .wrp_form .st_form {
    padding-top: 0;
    width: 20%;
    margin-right: 5%;
  }
}
.wrp_rsrv .con_rsrv .obj_search .wrp_form .box_form {
  margin-left: 20px;
  float: left;
  overflow: hidden;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  .wrp_rsrv .con_rsrv .obj_search .wrp_form .box_form {
    margin-left: 0;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv .con_rsrv .obj_search .wrp_form .box_form {
    margin-left: 0;
  }
}
.wrp_rsrv .con_rsrv .obj_search .wrp_form .box_form:first-child {
  margin-left: 0;
}
@media only screen and (max-width: 1160px) {
  .wrp_rsrv .con_rsrv .obj_search .wrp_form .box_form {
    float: none;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv .con_rsrv .obj_search .wrp_form .box_form {
    margin-top: 3%;
  }
  .wrp_rsrv .con_rsrv .obj_search .wrp_form .box_form:first-child {
    margin-top: 0;
  }
}
.wrp_rsrv .con_rsrv .obj_search .wrp_form select {
  border: none;
  color: #fff;
  padding-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 15px;
  background: url(../images/home/ic_sele.png) #000 no-repeat right center;
  float: left;
  letter-spacing: 0.05em;
  position: relative;
  line-height: 1;
}
.wrp_rsrv .con_rsrv .obj_search .wrp_form select.obj_day, .wrp_rsrv .con_rsrv .obj_search .wrp_form select.obj_room_num {
  margin-right: 0;
}
@media only screen and (min-width: 751px) {
  .wrp_rsrv .con_rsrv .obj_search .wrp_form select {
    font-size: 124%;
  }
}
@media print {
  .wrp_rsrv .con_rsrv .obj_search .wrp_form select {
    font-size: 124%;
  }
}
.ie8 .wrp_rsrv .con_rsrv .obj_search .wrp_form select {
  font-size: 124%;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  .wrp_rsrv .con_rsrv .obj_search .wrp_form select {
    width: 20%;
    text-align: center;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv .con_rsrv .obj_search .wrp_form select {
    padding-top: 0;
    width: auto;
    margin-right: 5px;
    text-align: right;
    padding-right: 15px;
  }
  .wrp_rsrv .con_rsrv .obj_search .wrp_form select.obj_stay_num, .wrp_rsrv .con_rsrv .obj_search .wrp_form select.obj_year {
    clear: both;
    margin-left: 0;
  }
}
.wrp_rsrv .con_rsrv .obj_search .wrp_form select::-ms-expand {
  display: none;
}
.wrp_rsrv .con_rsrv .obj_search .wrp_form option {
  background: #000;
  border: none;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.wrp_rsrv .con_rsrv .obj_search .btn_rsrv {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  width: 150px;
  padding: 20px;
  position: relative;
  color: #c3b193;
  text-align: center;
  line-height: 26px;
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv .con_rsrv .obj_search .btn_rsrv {
    font-size: 139%;
    padding: 6% 0;
    line-height: 1;
    display: block;
    width: 100%;
    border-top: 1px solid #8f826c;
  }
}
.wrp_rsrv .con_rsrv .btns {
  margin-top: 5px;
  overflow: hidden;
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv .con_rsrv .btns {
    font-size: 93%;
    line-height: 2;
  }
}
.wrp_rsrv .con_rsrv .btns p {
  float: left;
  margin-right: 20px;
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv .con_rsrv .btns p {
    margin-right: 4% !important;
  }
}
.wrp_rsrv .con_rsrv .btns p a {
  position: relative;
  text-decoration: none;
  padding-right: 22.5px;
}
.wrp_rsrv .con_rsrv .btns p a:after {
  content: "";
  display: block;
  background: url(../images/common/ic_ya.png) no-repeat center center;
  background-size: 100% auto;
  position: absolute;
  right: 0;
  top: 50%;
  width: 15px;
  height: 15px;
  margin-top: -7.5px;
}
.wrp_rsrv .con_rsrv .btns .btn_toku {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0;
}
.wrp_rsrv .con_rsrv .btns .btn_toku a {
  text-decoration: none;
  padding-right: 0;
}
.wrp_rsrv .con_rsrv .btns .btn_toku a:after {
  display: none;
}
.wrp_rsrv .con_rsrv .btns .btn_toku span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 8px;
  height: 8px;
  border: 1px solid #c3b193;
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
}
.wrp_rsrv .con_rsrv .btns .btn_toku span:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #c3b193;
  position: absolute;
  right: -4px;
  top: -4px;
  background-color: #000;
}
@media only screen and (max-width: 750px) {
  .wrp_rsrv .con_rsrv .btns .btn_toku {
    position: relative;
  }
}

/* -----------------------------------------------------------
	#footer
----------------------------------------------------------- */
#wrp_footer {
  border-top: 1px solid #C3B193;
  width: 100%;
  padding: 1em 0;
  margin-top: 100px;
}
@media only screen and (max-width: 750px) {
  #wrp_footer {
    margin-top: 20%;
  }
}

#footer {
  clear: both;
  overflow: hidden;
  width: 95%;
  max-width: none;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  #footer > div {
    overflow: hidden;
  }
}
#footer .btn_ptop {
  float: left;
  width: 13.68421%;
  max-width: 159px;
}
@media only screen and (max-width: 750px) {
  #footer .btn_ptop {
    float: none;
    width: 100%;
  }
}
#footer .btn_ptop a {
  color: #fff;
  display: block;
  text-decoration: none;
}
#footer .btn_ptop a:after {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  content: "";
  background: url(../images/footer/ic_ptop.svg) no-repeat center center;
  background-size: contain;
  width: 1em;
  height: 1em;
  margin-left: 2%;
}
#footer #copyright {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  float: right;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  #footer #copyright {
    float: none;
    text-align: center;
    margin-top: .5em;
  }
}
@media only screen and (max-width: 750px) {
  #footer #copyright {
    float: none;
  }
}

.box_snav {
  float: left;
  overflow: hidden;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  .box_snav {
    float: right;
  }
}
@media only screen and (max-width: 750px) {
  .box_snav {
    float: none;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
.box_snav li {
  float: left;
  margin-left: 2em;
}
.box_snav li:first-child {
  margin-left: 0;
}
.box_snav li a {
  text-decoration: none;
}
@media only screen and (max-width: 750px) {
  .box_snav li {
    margin-left: 0;
  }
  .box_snav li:nth-child(even) {
    margin-left: 2em;
  }
  .box_snav li:nth-child(odd) {
    clear: both;
  }
}

/* -----------------------------------------------------------
	.wrp_acc アクセス
----------------------------------------------------------- */
.wrp_acc {
  margin-top: 40px;
}
.wrp_acc #map {
  width: 100%;
  height: 0;
  padding-top: 25.39063%;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  .wrp_acc #map {
    padding-top: 25.39063%;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_acc #map {
    padding-top: 52%;
  }
}
@media only screen and (min-width: 1161px) {
  .wrp_acc #map {
    max-height: 405px;
  }
}
@media print {
  .wrp_acc #map {
    max-height: 405px;
  }
}
.ie8 .wrp_acc #map {
  max-height: 405px;
}
.wrp_acc .con_acc {
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc {
    display: block;
  }
}
.wrp_acc .con_acc > *:first-child {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  font-weight: normal;
  color: #c3b193;
  width: 13.68421%;
  float: left;
  vertical-align: top;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  .wrp_acc .con_acc > *:first-child {
    width: 15%;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc > *:first-child {
    display: block;
    width: 100%;
  }
}
.wrp_acc .con_acc > *:first-child + * {
  width: 86.31579%;
  float: left;
}
@media only screen and (min-width: 751px) and (max-width: 1160px) {
  .wrp_acc .con_acc > *:first-child + * {
    width: 85%;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc > *:first-child + * {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc {
    margin-top: 18%;
    margin-bottom: 18%;
  }
}
.wrp_acc .con_acc h2 img {
  width: 21px;
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc h2 img {
    width: 4.93333%;
  }
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc .box_acc {
    margin-top: 8%;
  }
}
.wrp_acc .con_acc .box_acc .box_det {
  float: left;
  width: 45.27607%;
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc .box_acc .box_det {
    float: none;
    width: 100%;
    margin-top: 6%;
  }
}
.wrp_acc .con_acc .box_acc .box_det address {
  margin-top: 20px;
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc .box_acc .box_det address {
    margin-top: 4%;
  }
}
.wrp_acc .con_acc .box_acc .box_det .txt_acc {
  margin-top: 20px;
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc .box_acc .box_det .txt_acc {
    margin-top: 4%;
  }
}
.wrp_acc .con_acc .box_acc .box_det .txt_gm {
  margin-top: 20px;
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc .box_acc .box_det .txt_gm {
    margin-top: 4%;
  }
}
.wrp_acc .con_acc .box_acc .box_det .txt_gm a {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  color: #fff !important;
  text-decoration: none;
  overflow: hidden;
}
.wrp_acc .con_acc .box_acc .box_det .txt_gm a:after {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  content: "";
  background: url(../images/common/ic_out.svg) no-repeat center center;
  background-size: contain;
  width: 1em;
  height: 1em;
  margin-left: 1%;
}
.wrp_acc .con_acc .box_acc .box_det .txt_pdf a {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  color: #fff !important;
  text-decoration: none;
  overflow: hidden;
}
.wrp_acc .con_acc .box_acc .box_det .txt_pdf a:after {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  content: "";
  background: url(../images/common/ic_pdf.png) no-repeat center center;
  background-size: contain;
  width: 14px;
  height: 16px;
  margin-left: 1%;
}
.wrp_acc .con_acc .box_acc .box_det .box_tel {
  margin-top: 20px;
  overflow: hidden;
}
.wrp_acc .con_acc .box_acc .box_det .box_tel .txt_tel {
  float: left;
  margin-right: 30px;
}
.wrp_acc .con_acc .box_acc .box_det .box_tel span.tel {
  display: block;
}
.wrp_acc .con_acc .box_acc .box_det .box_tel .txt_fax {
  float: left;
}
.wrp_acc .con_acc .box_acc .box_det .box_tel .txt_email {
  clear: both;
  float: none;
}
.wrp_acc .con_acc .box_acc .box_det .box_tel a {
  text-decoration: none;
}
.wrp_acc .con_acc .box_acc .box_det .box_tel .st {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 30px;
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc .box_acc .box_det .box_tel {
    margin-top: 1em;
  }
}
.wrp_acc .con_acc .box_acc .box_det .txt_hp {
  margin-top: 20px;
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc .box_acc .box_det .txt_hp {
    margin-top: 1em;
  }
}
.wrp_acc .con_acc .box_acc .box_map {
  float: right;
  width: 54.72393%;
  text-align: left;
}
.wrp_acc .con_acc .box_acc .box_map figure {
  margin: 0;
}
@media only screen and (max-width: 750px) {
  .wrp_acc .con_acc .box_acc .box_map {
    float: none;
    width: 100%;
    margin-top: 6%;
  }
}
.wrp_acc .con_acc .box_acc .box_map .txt_zoo {
  font-family: FFMarkWeb,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.15em;
  margin-top: 5px;
}
.wrp_acc .con_acc .box_acc .box_map .txt_zoo figure {
  display: inline;
}
.wrp_acc .con_acc .box_acc .box_map .txt_zoo a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: default;
}
.wrp_acc .con_acc .box_acc .box_map .txt_zoo:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  content: "";
  background: url(../images/home/ic_zoom.svg) no-repeat center center;
  background-size: contain;
  width: 1em;
  height: 1em;
  margin-right: 2%;
}

.sp-button {
  position: absolute;
  top: 0;
  right: 0;
}

.sp-button ul {
  overflow: hidden;
}

.sp-button ul li {
  float: right;
}

/* -----------------------------------------------------------
	下層共通スタイル
----------------------------------------------------------- */
/* -----------------------------------------------------------
	テーブル
----------------------------------------------------------- */
